* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
}

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================
   SALA
========================= */
.sala {
  position: relative;
  width: 1400px;
  height: 608px;

  background-image:
    url('/primerobra.png'),
    url('/segundaobra.png'),
    url('/terceraobra.png'),
    url('/cuartaobra.png'),
    url('/quintaobra.png'),
    url('/sextaobra.png'),
    url('/paredsegunda.png'),
    url('/pared.png'),
    url('/suelo.png');

  background-position:
    100px 10px,
    225px 10px,
    403px 10px,
    524px 10px,
    752px 10px,
    964px 10px,
    245px 245px,
    -45px top,
    top left;

  background-size:
    95px 125px,
    148px 125px,
    91px 125px,
    201px 125px,
    182px 125px,
    193px 125px,
    687px 120px,
    1415px 160px,
    cover;

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

  image-rendering: pixelated;
  overflow: hidden;
}
/* =========================
   USUARIO
========================= */

.usuario {
  position: absolute;

  width: 50px;
  height: 90px;

  left: 90%;
  top: 10%;

  transform: translate(-50%, -50%);
}

