* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
}

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================
   SALA
========================= */

.sala {
  position: relative;

  width: 800px;
  height: 500px;

  border: 5px solid white;

  background-color: #d8c9b0;

  overflow: hidden;
}

/* =========================
   USUARIO
========================= */

.usuario {
  position: absolute;

  width: 30px;
  height: 30px;

  background-color: red;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
